<?xml version="1.0"?>
<model>
  <name>EiraX PX4 x500 with 32-channel 3D LiDAR</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>EiraX</name>
  </author>
  <description>PX4 x500 with a roof-mounted 32-channel three-dimensional laser scanner.</description>
</model>
