<?xml version="1.0"?>
<model>
  <name>x500_mapping_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>x500 base with an EiraX underside 3D LiDAR.</description>
</model>
