<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lrs_m100_macro" params="base_link_name base_link_kinematic:=false">

<frame name="lidar_frame" attached_to="${base_link_name}">
    <pose>0.0 0 0.5 0 0 0</pose>
</frame>    

      <link name="${base_link_name}">
             <pose rotation_format="euler_rpy" degrees="true">0 0 0 0 0 0</pose>        
            <gravity>false</gravity>
            <kinematic>${base_link_kinematic}</kinematic>
            <visual name="visual">
                <pose>0 0 0 0 0 0</pose>
                <geometry>
	          <mesh>
                    <uri>model://matrice_100/meshes/lrs_m100.dae</uri>
                    <scale>1.0 1.0 1.0</scale>
                  </mesh>
                </geometry>
            </visual>

           

            <collision name="collision">
                <pose>0 0 0 0 0 0</pose>
                <geometry>
	          <mesh>
                    <uri>model://matrice_100/meshes/lrs_m100.stl</uri>
                    <scale>1.0 1.0 1.0</scale>
                  </mesh>
                </geometry>
            </collision>
        </link>
        
    </xacro:macro>
</robot>
